In [6]:
# !pip install psycopg2-binary
# !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 569 kB/s eta 0:00:01
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (7.23.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.4.15)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (49.6.0.post20210108)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.18)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=19ba82f80f162cb9f623bf61b67e98b8fbb0302719fd082efecd3f73bd08a520
  Stored in directory: /home/jovyan/.cache/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

In [7]:
import configparser
import os
import sqlalchemy
import psycopg2
%load_ext sql

In [9]:
config = configparser.ConfigParser()
config.read('../aws.cfg')

DWH_DB = config.get("DWH","DB_NAME")
DWH_HOST = config.get("DWH", "HOST")
DWH_DB_USER = config.get("DWH","DB_USER")
DWH_DB_PASSWORD = config.get("DWH","DB_PASSWORD")
DWH_PORT = config.get("DWH","DB_PORT")

connect_to_db = f'postgresql+psycopg2://{DWH_DB_USER}:{DWH_DB_PASSWORD}@{DWH_HOST}:{DWH_PORT}/{DWH_DB}';
%sql $connect_to_db

In [10]:
%sql SELECT * FROM websites LIMIT 10;

 * postgresql+psycopg2://awsuser:***@redshift-cluster-1.cdut1aej91p4.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[(0, 'websiteA'),
 (8589934592, 'websiteB'),
 (17179869184, 'websiteC'),
 (25769803776, 'websiteD'),
 (34359738368, 'websiteE'),
 (42949672960, 'websiteF'),
 (51539607552, 'websiteG'),
 (60129542144, 'websiteH'),
 (68719476736, 'websiteX'),
 (77309411328, 'websiteZ')]

In [ ]:
select c.id,
	   t."year" ,
       t."month" ,
       t."day" ,
       t.weekday ,
       sum(b.amount) as total_bill 
       from booking b left join customers c on (b.customernumber = c.id)
			  		  inner join times t on (b."timestamp" = t."timestamp")
	   group by c.id, t."year" , t."month" , t."day" , t.weekday ;
		
select p."type" ,
       t."year" ,
       t."month" ,
       t."day" ,
       t.weekday ,
       count(*) as items_sold
from bookings b left join products p on (bookings.product_id = p.id)
                inner join times t on (b."timestamp" = t."timestamp")
group by p.id, t."year" , t."month" , t."day" , t.weekday ;


select w."name",
	   t."year" ,
       t."month" ,
       t."day" ,
       t.weekday ,
       count(*) as num_access 
from logins l left join websites w on (l.website_id = w.id)
              inner join times t on (l."timestamp" = t."timestamp")
group by w."name" , t."year" , t."month" , t."day" , t.weekday ;

select w."name",
	   t."year" ,
       t."month" ,
       t."day" ,
       t.weekday ,
       count(*) as num_registrations
from registrations r left join websites w on (r.website_id = w.id)
                     inner join times t on (l."timestamp" = t."timestamp")
group by w."name" , t."year" , t."month" , t."day" , t.weekday ;